<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('includes/head.ejs') %>
  </head>
  <body onload="pageload();">

    <div class="boot-up">
      <!-- Onload  -->
      <%- include('includes/bootup.ejs') %>
    </div>

    <div id="aftrload">
      <div class="mac-bg-img" id="mac-bg-image">
        <img id="mac-bc-img" src="/images/mac wallpapers/asda.jpg" alt="">
      </div>
    
    <div class="top-menu-bar">
      <%- include('includes/upper-docker.ejs') %>
    </div>

    <div class="right-slide-bar"></div>
    
    <div class="desktop-area">
        
    </div>
    
    <div class="snackbar"></div>
    
    <div class="opened-windows"></div>
    
    <div class="other-containers"></div>
    
    <div class="bottom-docker">
      <%- include('includes/bottom-docker.ejs') %>
    </div>
    
  </div>
    <%- include('includes/foot.ejs') %>
    

  </body>
</html>
